@media screen and (max-width: 1430px) {
  .header__bg {
    max-width: 782px;
  }
  .information {
    margin-right: 12px;
  }
}
@media screen and (max-width: 1215px) {
  #logo:hover {
    color: #fff;
  }
  #logo {
    cursor: grab;
    color: rgb(255, 204, 1);
    position: absolute;
    left: 190px;
    top: 30px;
    font-size: 42px;
  }
  .burger__menu-button {
    display: block;
    position: fixed;
  }
  .menu {
    position: fixed;
    padding-top: 85px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(31, 55, 61);
    width: 100%;
    max-width: 400px;
    z-index: 9998;
    margin-top: 0;
    left: -150%;
    padding-left: 70px;
  }

  .burger__menu-active .menu {
    left: 0;
  }

  .menu li a {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  .indent {
    margin-left: 0;
  }

  .menu li:last-child a {
    color: rgb(31, 55, 61);
  }
  .menu li:last-child {
    width: fit-content;
    margin-bottom: 25px;
  }
  .menu li:last-child a:hover {
    color: #fff;
  }

  .location_adds-second {
    margin-right: 0;
  }
  .header__bg {
    max-width: 720px;
  }
  .information {
    margin-right: 33px;
  }
  .firstAdd {
    width: 90%;
  }
  .agent__slider {
    max-width: 500px;
  }
  .service-text {
    width: 330px;
  }
  .service__info {
    margin-left: 70px;
  }
  .secondAdd {
    width: 90%;
  }
  .thirdAdd {
    margin-top: 45px;
    width: 90%;
    margin-bottom: 23px;
  }
  .footer__wrapper {
    width: 90%;
  }
  .adds__text-placeholder {
    width: 400px;
  }
  .adds__text-placeholder p,
  .adds__text-placeholder-second p {
    width: 360px;
    text-align: left;
  }
  .text__wrapper {
    padding-left: 10px;
  }
  .appartments__wrapper {
    width: 80%;
  }
  .appartments__gallery-item {
    margin-bottom: 20px;
  }
  .appartments__gallery {
    height: 100%;
  }
  .header {
    width: 90%;
  }
  .about {
    width: 80%;
  }
  .about__text p {
    line-height: 1.9;
    width: 450px;
  }
  .FAQ__container {
    width: 69%;
    max-width: 785px;
    justify-content: space-around;
    margin: 30px auto 20px auto;
  }
  .FAQ__container-item {
    margin-bottom: 20px;
  }
  .how__it__works-mainTitle {
    width: 82%;
  }

  .h5 {
    margin-top: 50px;
  }
  .service__wrapper {
    margin-top: 5px;
  }

  .agents__wrapper {
    width: 80%;
    max-width: 960px;
  }

  .slick-slider {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  body {
    overflow-x: hidden;
  }
  .agents__slider-item {
    width: 350px;
  }

  .header__bg {
    max-width: 640px;
    max-height: 503px;
  }

  .header__footer {
    margin-top: 54px;
  }
  .information {
    margin-right: 0px;
  }

  .service__info {
    margin-left: 5px;
  }

  .service-text {
    font-size: 12px;
    line-height: 1.308;
    width: 300px;
  }
  .rent,
  .cell,
  .build {
    padding-left: 15px;
  }

  .adds__text-placeholder {
    margin-left: 15px;
  }
  .adds__text-placeholder p,
  .adds__text-placeholder-second p {
    font-size: 11px;
    line-height: 1;
    width: 300px;
  }
  .about {
    align-items: center;
    flex-direction: column;
    margin: 25px auto 0 auto;
  }
}
@media screen and (max-width: 900px) {
  .firstAdd {
    flex-direction: column;
    align-items: center;
  }

  .adds__text-placeholder p,
  .adds__text-placeholder-second p {
    font-size: 14px;
    line-height: 1;
    width: 90%;
  }

  .h8 {
    padding-top: 250x;
    margin-left: 6px;
    font-size: 22px;
    line-height: 1;
  }
  .secondAdd {
    margin-top: 0;
    align-items: center;
    flex-direction: column;
  }

  .thirdAdd {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }

  .adds__text-placeholder {
    padding-top: 50px;
  }
  .showMore {
    margin: auto;
  }

  .header__bg {
    max-width: 470px;
    max-height: 436px;
  }

  .information {
    margin-right: 66px;
  }

  .header__footer {
    margin-top: 5px;
  }

  .buttonView a {
    text-align: center;
  }
}
@media screen and (max-width: 880px) {
  .service__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
  }

  .service__banner {
    width: 500px;
  }

  .appartments__wrapper {
    width: 40%;
    margin: -89px auto;
  }
  .appartments__gallery {
    justify-content: center;
  }

  .h3 {
    margin-bottom: 0;
  }

  .appartments__footer {
    margin-top: 10px;
    margin-bottom: 100px;
    padding-bottom: 84px;
    flex-direction: column;
  }

  .buttonView {
    margin-top: 20px;
  }

  .about__text p {
    width: 90%;
  }

  .how__it__works-mainTitle p {
    font-size: 15px;

    width: 90%;

    font-weight: 500;
  }
  .adds__text-placeholder,
  .adds__text-placeholder-second {
    font-size: 16px;
    width: 100%;
    max-width: 705px;
  }

  .adds__text-placeholder-second {
    width: 90%;
    max-width: 705px;
  }
  .h8_1 {
    margin-right: 81px;
  }
}
